.App {
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.App__console {
  height: 100%;
  width: 100%;
  background: #101010;
}

.App__printout {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14%;
  margin: auto;
  width: calc(10vw + 600px);
  transform: translateY(100%);
  box-shadow: 0px 0px 140px;
  animation: print 9s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1
}

.App__printout::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2em;
  width: 2em;
  background: white;
  background-image: radial-gradient(#212121 20%, transparent 20%);
  background-repeat: repeat-y;
  background-size: 2em 2em;
  border-right: 1px dashed rgba(0,0,0,0.2);
}

.App__printout::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2em;
  width: 2em;
  background: white;
  background-image: radial-gradient(#212121 20%, transparent 20%);
  background-repeat: repeat-y;
  background-size: 2em 2em;
  border-left: 1px dashed rgba(0,0,0,0.2);
}

@keyframes print {
  0% { bottom: -1%; }
  1% { bottom: -1%; }
  5% { bottom: 5%; }
  10% { bottom: 5%; }
  11% { bottom: 10%; }
  15% { bottom: 10%; }
  16% { bottom: 15%; }
  20% { bottom: 15%; }
  21% { bottom: 20%; }
  25% { bottom: 20%; }
  26% { bottom: 25%; }
  30% { bottom: 25%; }
  31% { bottom: 30%; }
  35% { bottom: 30%; }
  36% { bottom: 35%; }
  40% { bottom: 35%; }
  41% { bottom: 40%; }
  45% { bottom: 40%; }
  46% { bottom: 45%; }
  50% { bottom: 45%; }
  51% { bottom: 50%; }
  55% { bottom: 50%; }
  56% { bottom: 55%; }
  60% { bottom: 55%; }
  61% { bottom: 60%; }
  65% { bottom: 60%; }
  66% { bottom: 65%; }
  70% { bottom: 65%; }
  71% { bottom: 70%; }
  75% { bottom: 70%; }
  76% { bottom: 75%; }
  80% { bottom: 75%; }
  81% { bottom: 80%; }
  85% { bottom: 80%; }
  86% { bottom: 85%; }
  90% { bottom: 85%; }
  91% { bottom: 90%; }
  95% { bottom: 90%; }
  96% { bottom: 95%; }
  100% { bottom: 100%; }
}


@media print {
  body {
    print-color-adjust: exact;
  }
  @page {
    margin-top: 0;
    margin-bottom: 0;
    size: A4 portrait;
    print-color-adjust: exact;
  }
  .App {
    overflow: visible;
  }
  .App__console {
    display: none
  }
  .App__printout {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    transform: none;
    inset: auto;
    animation: none;
    margin: initial;
    margin-left: 2em;
  }
}
